.row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.col {
    margin: auto;
    width: 33%;
    text-align: center;
    height: 100%;
}

.border-bottom {
    border-bottom: solid 1px black;
}

.border-right {
    border-right: solid 1px black;
}

.border-left {
    border-left: solid 1px black;
}





